<!-- Секція герой -->
<section class="hero section">
    <div class="container">
        <div class="blok__hero">
            <h1 class="hero__title">
                Enjoy Your Favorite Food From Anywhere
            </h1>
            <p class="hero__text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis
                cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.
            </p>
            <button type="button" class="hero__btn">Order Now</button>
        </div>

        <img class="hero__img" src="./images/foto_1.png" alt="комплексний обід 1">

    </div>
</section>
